@model Security.Models.MDModel<SecurityEF.SecurityApplication, SecurityEF.SecurityForm>

@{
    ViewBag.Title = "Index";
}

<h2>Forms : @Model.Master.ApplicationName</h2>
<p>
    @Html.ActionLink("Create New Form", "Create", new { pApplicationCode = Model.Master.ApplicationCode })   
</p>
<table width="100%" class="display" id="Table02" cellspacing="0" style="visibility:hidden">
    <thead>
        <tr>
            <th>FormName</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetailList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FormCode) ~ @Html.DisplayFor(modelItem => item.FormName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveFlag)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { pFormCode = item.FormCode }) |
                    @Html.ActionLink("Actions", "Index", "FormAction", new { pApplicationCode = item.ApplicationCode, pFormCode = item.FormCode }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to Application List", "Index", "Application")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#Table02").css("visibility", "visible");
            $('#Table02').dataTable({
                "paging": false,
                "info": false,
                "order": [[0, "asc"]],
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": true
                    }
                ]
            });
        });

    </script>
}
