@model SecurityEF.SecurityFormAction

@{
    ViewBag.Title = "Create";
}

<h2>Add Action</h2>

@using (Html.BeginForm("Create", "FormAction", new { pApplicationCode = Model.ApplicationCode, pFormCode = Model.FormCode }, FormMethod.Post, new { id = "Form01" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SecurityFormAction</legend>
        @Html.HiddenFor(model => model.ApplicationCode)
        @Html.HiddenFor(model => model.FormCode)

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationName, "ApplicationName")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ApplicationName, new { @readonly = "readonly", Style = "background:#cccccc;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FormName, "FormName")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FormName, new { @readonly = "readonly", Style = "background:#cccccc;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FormActionName, "Action Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FormActionName)
            @Html.ValidationMessageFor(model => model.FormActionName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks, "Remarks")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.Label("Is Active")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ActiveFlag2)
            @Html.ValidationMessageFor(model => model.ActiveFlag2)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<p>
    @Html.ActionLink("Back to Action List", "Index", new { pApplicationCode = Model.ApplicationCode, pFormCode = Model.FormCode })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });

        $("#Form01").validate({
            rules: {
                //----------Validation rule for LoginName--------
                FormActionName: {
                    required: true,
                    minlength: 3,
                    maxlength: 50,
                    alphanumeric: true
                },

                //----------Validation rule for Remarks--------
                Remarks: {
                    required: false,
                    maxlength: 100
                },
            },
            errorElement: 'span',
            submitHandler: function (form) {
                form.submit();
            }
        });
    </script>
}
